.center {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


.leaderboard{
  float: left;
  margin-left: 10px;
  width: 100px;
  padding: 1px;
}

.leaderboard ul li{
  font-size: 12px;
  padding: 4px;
  color: yellow;
}


.meme-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form{

  --form-border-color: blue;
  --universal-margin: 15px 20px;
  --universal-border-radius: 20px
  
}

.card {

  display: inline-grid;
  font-size-adjust: 0.58;
}

.field-set{

    width: 30rem;
    height: 30rem;
    margin: 5rem 2rem;

}
.bar{
  box-shadow: 3px 4px gray;
  background-color: black;
}


.background {
  background-image: url(Image/galaxy.jpg);
  background-repeat: round;
  filter: opacity(50%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.foreground{
  display: flex;
  align-items: center;
  justify-content: center;
}

.leader{
    text-align: center;
    color: yellow;
    border: grey solid 1px;
    background-color: black;
    padding: 2rem;
    width: 9rem;
    height: 16rem;
    margin: 3rem 1rem;
    box-shadow: 3px 4px yellow;
}

.leaderboard ul li{
  color: white
}


.captions{ 

  left: 32.3em;
  top: 38em;
}    

.buttons{

  position: sticky; top: 50px;
  
}


.mact-viewer{
  display: flex;
  flex-direction: column;
  justify-content: space-between

}
.mact-container {
    text-align: center;
    border: grey solid 1px;
    background-color: black;
    padding: 5rem;
    width: 30rem;
    height: 30rem;
    margin: 3rem 1rem;
    box-shadow: 3px 4px blue;
  }

.mact-image {
  justify-self: center;
  height: 20rem;
  width: auto;
  object-fit: cover;
}
.my-mact-image {
  justify-self: center;
  height: 10rem;
  width: auto;
  object-fit: cover;
}

.white {
  color: white;
}

.comments li {
  background-color:azure;
  color: black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 4px blue;
}

#result-h3{
  color: white;
}

.comments-h3{
  color: white;
}

ul {
  padding: 0;
}


li {
  list-style: none;
  
}

.timestamp {

  font-size: x-small;

}

body {

background-color: black;

}

.mact-content {
    font-size: 20px;
}   

#fwd-arrow {

  font-size: large;
  height: 2rem;

}

#bwd-arrow {

  font-size: large;
  height: 2rem;

}

#created-by{
  float: right;
  margin-right: 2em;
  margin-top: 1em;
}
