.center {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.form{

  --form-border-color: blue;
  --universal-margin: 15px;
  

}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px blue;
  background-color: white;
}

.field-set{


    width: 30rem;
    height: 30rem;
    margin: 5rem 2rem;

}

.background {

  display: flex;
  align-items: center;
  justify-content: center;

}

.mact-container {
    text-align: center;
    border: grey solid 1px;
    background-color: white;
    padding: 1rem;
    width: 30rem;
    height: 30rem;
    margin: 5rem 2rem;
    box-shadow: 3px 4px blue
  }

.mact-image {
  justify-self: center;
  height: 20rem;
  width: auto;
}

.my-mact-image {
  justify-self: center;
  height: 15;
  width: auto;
}

body {

background-color: black;

}

.mact-content {
    font-size: 20px;
}   

#fwd-arrow {

  font-size: large;
  height: 2rem;

}

/* .container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #515DA2;
  opacity: .8;
} */

#bwd-arrow {

  font-size: large;
  height: 2rem;

}

